@media screen and (min-width: 600px) {
    body{
        background-size: 100vw;
        color: azure;
        width: 100vw;
    
        display: grid;
        grid-template-rows: 25vh 1fr 1fr;
        grid-template-areas: "header header header"
                             "form form form"
                             ". lastRoll ."
                             "history history history"
                             ". footer .";
        background-color: #3D8361 
    } 
    tr#table-header{
        width:66vw;
    }  
    form {
        font-size: xx-large;
    }
}

@media screen and (max-width: 599px) {
    body{
        background-size: 100vw;
        color: azure;
        width: 100vw;
    
        display: grid;
        grid-template-rows: 1fr;
        grid-template-areas: "header"
                             "form"
                             "form"
                             "roll"
                             "lastRoll"
                             "history"
                             "footer";
        background-color: #3D8361  
    } 
    tr#table-header{
        width:100vw;
    }  
    form {
        font-size: x-large;
    }
}

main{
    width: 100vw;
    height: 35vh;
}

div#history {grid-area: history}
header {grid-area: header}
form {grid-area: form}
div#last-roll {grid-area: lastRoll}
footer {grid-area: footer;}
#roll-btn {grid-area: roll;}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Silkscreen', cursive;
    font-size: 3vh;
    text-shadow: 5px 5px 5px black;
    color: #D6CDA4;
    /* max-height: 50vh; */
}

form{
display: flex;
width: 100%;
align-items: center;
justify-content: space-evenly;
margin: 20px;
text-shadow: 2px 2px 0 black;
color:#EEF2E6;
font-family: 'Roboto', sans-serif;
flex-wrap:wrap;
}

#history{
display: flex;
justify-content: center;
margin: 20px;
}

#table {
display: flex;
table-layout: fixed;
font-family: 'Roboto', sans-serif;
margin-top: 20px;
}

tr#table-header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1C6758;
    color: #EEF2E6;
    height: 50px;
}

tr{
    display: flex;
    height: 50px;
    width: 1fr;   
}

tr#table-header th{
    display: flex;
    align-items: center;
    justify-content: center;
}

tr th {
    padding: 20px;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.table-item{
    align-items: center;
    justify-content: center;
    border: 1px solid darkgray;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: #EEF2E6;
    color:  black;   
}

#last-roll{
display: flex;
background-color:#EEF2E6;
border: 1px solid black;
color: black;
width: 120px;
height: 90px;
justify-content: space-between;
align-items: center;
flex-direction: column;
border-radius: 5px;
margin: auto;
font-family: 'Roboto', sans-serif;
}

#result{
font-weight:900;
font-size:xx-large;
margin-top: -10px;
}

input, select {
    height: 50px;
    width: 50px;
    background-color: #EEF2E6;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: large;
    margin: 5px
}

select{
    width: 75px;
}

#roll:hover{
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

footer{
    text-align: center;
    margin-top: 200px;
}

#rollBtn{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#1C6758;
    padding: 5px 10px 22px 10px;
    border-radius: 33%;
    border: 1px solid #EEF2E6;
    margin: 5px;
    
    
}

#rollBtn > a{
    margin-top: -70%;
}

    
